<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>

    <div class="container">
        <h1 class="display-3">Smart Wardrobe</h1>

        <div class="row">

            <div class="col-sm-12">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-fluid mx-auto d-block" /></a>
                        </div>
                        <div class="carousel-item">
                            <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-fluid mx-auto d-block" /></a>
                        </div>
                        <div class="carousel-item">
                            <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-fluid mx-auto d-block" /></a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div><!--end first row-->
        <br />
        <br />


        <div class="row">
            <div class="col-sm-2">
                <img src="http://clipart-library.com/images/8cxrx4XKi.png" alt="weather widget" class="img-fluid" />
            </div>
            <div class="col-sm-4">
                <p>Most Worn Garments</p>
                <ul>
                    <li>Top</li>
                    <li>Dress</li>
                    <li>Hat</li>
                    <li>Trousers</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <p>Least Worn Garments</p>
                <ul>
                    <li>Top</li>
                    <li>Dress</li>
                    <li>Hat</li>
                    <li>Trousers</li>
                </ul>
            </div>

            <div class="col-sm-2">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">John Doe</h4>
                        <a href="#" class="btn btn-primary">Logout</a>
                    </div>
                </div>
            </div>


        </div><!--end second row-->


    </div>


</body>
</html> 